/* General styles */
body {
    /* Dark background with high contrast text and center alignment */
    background-color: rgb(0, 0, 0);
    color:rgb(244, 9, 244);
    text-align: center;
    font-size: 25px;
}

h1 {
    /* Large font, bright color, underline and shadow for emphasis */
    font-size: 70px;
    color: rgb(255, 64, 129);
    text-shadow: 4px 0 0 rgb(101, 226, 199);
    text-decoration: underline;
    margin: 50px auto;
}

main {
    /* Flexbox layout with column direction, border, padding and larger font */
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(101, 226, 199);
    border-style: double;
    font-size: 30px;
    padding: 30px;
}

#scoreboard, #game-message, #options {
    margin-bottom: 20px;
    color: rgb(255, 64, 129);
    font-size: 30px;
}

#game-message {
    /* Prominent game message with subtle shadow */
    font-size: 40px;
    text-shadow: 1px 0 0 rgb(101, 226, 199);
}

#options button {
    /* Matching style for the option buttons */
    padding: 15px 30px;
    margin: 15px;
    color:rgb(0, 0, 0);
    background-color: rgb(101, 226, 199);
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px rgb(255, 64, 129);
    font-size: 20px;
    cursor: pointer;
}

#options button:hover {
    /* Hover effect */
    background-color: rgb(48, 180, 151);
    transform: scale(1.1);
}

#restart-btn {
    /* Similar style to option buttons for the restart button */
    background-color: rgb(101, 226, 199);
    color: rgb(0, 0, 0);
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    border-radius: 20px;;
    box-shadow: 5px 5px rgb(255, 64, 129);
    cursor: pointer;
    margin: 20px auto;
}

#restart-btn:hover {
    /* Hover effect */
    background-color: rgb(48, 180, 151);
    transform: scale(1.1);
}

#rules-btn {
    /* Similar style to option and restart button for the rules button */
    background-color: rgb(255, 64, 129);
    color:rgb(0, 0, 0);
    padding: 10px 10px;
    margin: 20px auto;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(101, 226, 199);
    cursor: pointer;
    display: inline-block;
}

#rules-btn:hover {
    background-color: rgb(227, 53, 111);
    transform: scale(1.1);
}

/* Dropdown style */
#game-rules {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 64, 129);
    padding: 20px;
    margin: auto;
    font-size: 25px;
    border: 2px double rgb(101, 226, 199);
    width: 50%;
    text-align: center;
    display: none;
   
}

/* Display rules */
#toggle:checked + #game-rules {
    display: block;
}
