/* General styles */
body {
    background-color: rgb(67, 116, 7);
    text-align: center;
    margin: 50px;
    padding: 50px;
}

h1 {
    font-size: 50px;
    background-color: rgb(101, 226, 199);
    color:black;
    border-radius: 50%;
    box-shadow: 5px 5px;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    font-size: 30px;
    padding: 30px;
}

#scoreboard, #game-message, #options {
    margin-bottom: 20px;
    color: black;
    font-size: 30px;
}

#game-message {
    font-size: 40px;
}

#options button {
    padding: 15px 30px;
    margin: 15px;
    background-color: rgb(101, 226, 199);
    border-radius: 20px;
    box-shadow: 5px 5px;
    font-size: 20px;
    cursor: pointer;
}

#options button:hover {
    background-color: rgb(48, 180, 151);
    transform: scale(1.1);
}

#restart-btn {
    background-color: rgb(101, 226, 199);
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    border-radius: 20px;;
    box-shadow: 5px 5px;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: rgb(48, 180, 151);
    transform: scale(1.1);
}